$text: #333333
$blue: #0066cc


body
	margin: 0
	font-family: 'Roboto', sans-serif

.title-block
	text-align: center
	display: inline-block
	p
		color: $text
		font-size: 36px
		text-transform: uppercase
		font-weight: 700
	hr
		border-top: 3px solid $blue
		margin-top: 0
		width: 100px
		text-align: none
		float: left

.m-15
	margin-right: -15px
	margin-left: -15px




header
	height: 1080px
	background-image: url(../images/bizcon_desktop_roboto.png)
	background-repeat: no-repeat
	background-position: center
	@media(max-width: 991px)
		height: 600px
	.container
		padding-top: 60px
		text-align: center
		ul
			margin-top: 0
			margin-bottom: 50px
			padding-left: 0
			list-style: none
			float: right
			@media(max-width: 400px)
				width: 100%
			li
				display: inline-block
				padding-left: 40px
				@media(max-width: 400px)
					width: 49%
					padding-left: 0
				a
					text-decoration: none
					color: $text
					font-size: 24px
					@media(max-width: 991px)
						font-size: 18px
		.logo
			width: 100%
			text-align: center
			display: inline-block
			margin-bottom: 50px
			img
				width: 100%
				max-width: 720px
				@media(max-width: 991px)
					max-width: 330px
		h1
			font-size: 36px
			text-transform: uppercase
			font-weight: 700
			font-style: italic
			letter-spacing: 2px
			color: $text
			@media(max-width: 991px)
				font-size: 24px
		p
			font-size: 30px
			color: $text
			@media(max-width: 991px)
				font-size: 18px


main
	margin-top: -70px
	text-align: center
	.container
		padding-top: 25px
		.row
			margin-bottom: 50px
			.content
				p
					color: $text
					font-size: 30px
					@media(max-width: 991px)
						font-size: 24px
				img
					width: 100%
					max-width: 316px
					@media(max-width: 991px)
						max-width: 270px
	.decoration
		height: 1315px
		margin-top: -500px
		margin-bottom: -460px
		background-image: url(../images/decoration.png)
		background-repeat: no-repeat
		background-position: center
		@media(max-width: 767px)
			display: none
	form
		width: 100%
		max-width: 600px
		margin: 0 auto
		padding-bottom: 70px
		display: inline-block
		input
			width: 100%
			font-size: 24px
			border-radius: 5px
			margin-bottom: 20px
			border: 1px solid #d9d9d9
			padding: 15px 25px
			@media(max-width: 991px)
				font-size: 18px
		textarea
			border-radius: 5px
			margin-bottom: 20px
			width: 100%
			max-width: 600px
			font-size: 24px
			border: 1px solid #d9d9d9
			padding: 15px 25px
			@media(max-width: 991px)
				font-size: 18px
		.g-recaptcha
			float: left
			margin-bottom: 20px
			@media(max-width: 400px)
				margin-left: -15px
				margin-right: -15px
			@media(max-width: 991px)
				float: none
				div
					margin: 0 auto
		.message
			//display: none
		.button
			text-align: center
			width: 40%
			float: right
			background-color: $blue
			color: white
			text-transform: uppercase
			font-size: 24px
			font-weight: 700
			border-radius: 0
			line-height: 43px
			&:hover
				cursor: pointer
			@media(max-width: 991px)
				float: none
				width: 100%
				max-width: 300px
	.map
		padding: 0
		margin-bottom: -6px

footer
	text-align: center
	background-color: #333333
	color: white
	height: 80px
	font-size: 18px
	line-height: 80px
	a
		color: white
		&:hover
			color: white
